<h2>Cyclone</h2>
<p>
  Cyclones are caused by atmospheric disturbances around a low-pressure area
  distinguished by swift and often destructive air circulation. Cyclones are
  usually accompanied by violent storms and bad weather. The air circulates
  inward in an anticlockwise direction in the Northern Hemisphere and clockwise
  in the Southern Hemisphere. Cyclones are classified as:
</p>
<ul>
  <li>Extra tropical cyclones (also called temperate cyclones)</li>
  <li>Tropical cyclones</li>
</ul>
<p>
  The word Cyclone is derived from the Greek word <em>Cyclos</em> meaning the
  coils of a snake. It was coined by Henry Peddington because the tropical
  storms in the Bay of Bengal and the Arabian Sea appear like coiled serpents of
  the sea.
</p>

<h3>Classifications</h3>
<p>Cyclones are classified as:</p>
<ul>
  <li>Extra tropical cyclones (also called temperate cyclones)</li>
  <li>Tropical cyclones</li>
</ul>
<p>
  The World Meteorological Organisation (WMO, 1976) uses the term 'Tropical
  Cyclone’ to cover weather systems in which winds exceed ‘Gale Force’ (minimum
  of 34 knots or 63 kph). Tropical cyclones are the progeny of ocean and
  atmosphere, powered by the heat from the sea; and driven by easterly trades
  and temperate westerlies, high planetary winds and their own fierce energy.
</p>
<p>In India, cyclones are classified by:</p>
<ul>
  <li>Strength of associated winds</li>
  <li>Storm surges</li>
  <li>Exceptional rainfall occurrences</li>
</ul>

<h3>Do's & Dont's</h3>

<h4>Before the Cyclone Season</h4>
<ul>
  <li>
    Check the house; secure loose tiles and carry out repairs of doors and
    windows.
  </li>
  <li>
    Remove dead branches or dying trees close to the house; anchor removable
    objects such as lumber piles, loose tin sheets, loose bricks, garbage cans,
    sign-boards, etc. which can fly in strong winds.
  </li>
  <li>
    Keep some wooden boards ready so that glass windows can be boarded if
    needed.
  </li>
  <li>
    Keep a hurricane lantern filled with kerosene, battery-operated torches, and
    enough dry cells.
  </li>
  <li>Demolish condemned buildings.</li>
  <li>Keep some extra batteries for transistors.</li>
  <li>Keep some dry non-perishable food always ready for use in emergency.</li>
</ul>

<h4>Necessary Actions</h4>
<p>
  The actions that need to be taken in the event of a cyclone threat can broadly
  be divided into:
</p>
<ul>
  <li>Immediately before the cyclone season</li>
  <li>When cyclone alerts and warnings are communicated</li>
  <li>When evacuations are advised</li>
  <li>When the cyclone has crossed the coast</li>
</ul>

<h4>When the Cyclone Starts</h4>
<ul>
  <li>Listen to the radio (All India Radio stations give weather warnings).</li>
  <li>
    Keep monitoring the warnings. This will help you prepare for a cyclone
    emergency.
  </li>
  <li>Pass the information to others.</li>
  <li>
    Ignore rumours and do not spread them; this will help to avoid panic
    situations.
  </li>
  <li>Believe in the official information.</li>
  <li>
    When a cyclone alert is on for your area continue normal working but stay
    alert to the radio warnings.
  </li>
  <li>
    Stay alert for the next 24 hours as a cyclone alert means that the danger is
    within 24 hours.
  </li>
  <li>
    When your area is under cyclone warning get away from low-lying beaches or
    other low-lying areas close to the coast.
  </li>
  <li>Leave early before your way to high ground or shelter gets flooded.</li>
  <li>Do not delay and run the risk of being marooned.</li>
  <li>
    If your house is securely built on high ground take shelter in the safe part
    of the house. However, if asked to evacuate do not hesitate to leave the
    place.
  </li>
  <li>Board up glass windows or put storm shutters in place.</li>
  <li>Provide strong suitable support for outside doors.</li>
  <li>
    If you do not have wooden boards handy, paste paper strips on glasses to
    prevent splinters. However, this may not avoid breaking windows.
  </li>
  <li>
    Get extra food, which can be eaten without cooking. Store extra drinking
    water in suitably covered vessels.
  </li>
  <li>
    If you have to evacuate the house move your valuable articles to upper
    floors to minimize flood damage.
  </li>
  <li>
    Ensure that your hurricane lantern, torches or other emergency lights are in
    working condition and keep them handy.
  </li>
  <li>
    Small and loose things, which can fly in strong winds, should be stored
    safely in a room.
  </li>
  <li>
    Be sure that a window and door can be opened only on the side opposite to
    the one facing the wind.
  </li>
  <li>Make provision for children and adults requiring special diet.</li>
  <li>
    If the centre of the cyclone is passing directly over your house there will
    be a lull in the wind and rain lasting for half an hour or so. During this
    time do not go out; because immediately after that, very strong winds will
    blow from the opposite direction.
  </li>
  <li>Switch off the electrical mains in your house.</li>
  <li>Remain calm.</li>
</ul>

<h4>During a Cyclone</h4>
<ul>
  <li>
    DO NOT venture out even when the winds appear to calm down. The 'eye' of the
    cyclone might be passing. Winds might intensify and gush again and cause
    damage. Be safe inside till it is officially announced that the cyclone has
    passed.
  </li>
</ul>

<h4>When Evacuation is Instructed</h4>
<ul>
  <li>
    Pack essentials for yourself and your family to last a few days. These
    should include medicines, special food for babies and children or elders.
  </li>
  <li>
    Head for the proper shelter or evacuation points indicated for your area.
  </li>
  <li>Do not worry about your property.</li>
  <li>At the shelter, follow the instructions of the person in charge.</li>
  <li>Remain in the shelter until you are informed to leave.</li>
</ul>

<h4>Post-Cyclone Measures</h4>
<ul>
  <li>
    You should remain in the shelter until informed that you can return to your
    home.
  </li>
  <li>You must get inoculated against diseases immediately.</li>
  <li>Strictly avoid any loose and dangling wires from lamp posts.</li>
  <li>If you have to drive, do so carefully.</li>
  <li>Clear debris from your premises immediately.</li>
  <li>Report the correct losses to appropriate authorities.</li>
</ul>
