<h1>Flood Preparedness</h1>
<p>
  India is highly vulnerable to floods. Out of the total geographical area of
  329 million hectares (mha), more than 40 mha is flood prone. Floods are a
  recurrent phenomenon, which cause huge loss of lives and damage to livelihood
  systems, property, infrastructure, and public utilities. It is a cause for
  concern that flood-related damages show an increasing trend. The average
  annual flood damage in the last 10 years period from 1996 to 2005 was Rs. 4745
  crore as compared to Rs. 1805 crore, the corresponding average for the
  previous 53 years. This can be attributed to many reasons including a steep
  increase in population, rapid urbanization, growing developmental and economic
  activities in flood plains coupled with global warming.
</p>

<h2>What to do before a flood</h2>
<h3>To prepare for a flood, you should:</h3>
<ul>
  <li>
    Avoid building in flood-prone areas unless you elevate and reinforce your
    home.
  </li>
  <li>
    Elevate the furnace, water heater, and electric panel if susceptible to
    flooding.
  </li>
  <li>
    Install "Check Valves" in sewer traps to prevent floodwater from backing up
    into the drains of your home.
  </li>
  <li>
    Contact community officials to find out if they are planning to construct
    barriers (levees, beams, and floodwalls) to stop floodwater from entering
    the homes in your area.
  </li>
  <li>
    Seal the walls in your basement with waterproofing compounds to avoid
    seepage.
  </li>
</ul>

<h3>If a flood is likely to hit your area, you should:</h3>
<ul>
  <li>Listen to the radio or television for information.</li>
  <li>
    Be aware that flash flooding can occur. If there is any possibility of a
    flash flood, move immediately to higher ground. Do not wait for instructions
    to move.
  </li>
  <li>
    Be aware of streams, drainage channels, canyons, and other areas known to
    flood suddenly. Flash floods can occur in these areas with or without such
    typical warnings as rain clouds or heavy rain.
  </li>
</ul>

<h3>If you must prepare to evacuate, you should:</h3>
<ul>
  <li>
    Secure your home. If you have time, bring in outdoor furniture. Move
    essential items to an upper floor.
  </li>
  <li>
    Turn off utilities at the main switches or valves if instructed to do so.
    Disconnect electrical appliances. Do not touch electrical equipment if you
    are wet or standing in water.
  </li>
</ul>

<h3>If you have to leave your home, remember these evacuation tips:</h3>
<ul>
  <li>
    Do not walk through moving water. Six inches of moving water can make you
    fall. If you have to walk in water, walk where the water is not moving. Use
    a stick to check the firmness of the ground in front of you.
  </li>
  <li>
    Do not drive into flooded areas. If floodwaters rise around your car,
    abandon the car and move to higher ground if you can do so safely. You and
    the vehicle can be quickly swept away.
  </li>
</ul>
