<nav class="container flx flx--ac"></nav>
<div class="header-spacer"></div>

<main class="flx flx--v">
  <div class="section">
    <header>Header</header>

    <div class="content flx flx--v">
      <h1>This is some heading text</h1>
      <h2>This is some heading text</h2>
      <h3>This is some heading text</h3>
      <h4>This is some heading text</h4>
      <h5>This is some heading text</h5>
      <h6>This is some heading text</h6>
    </div>
  </div>
  <div class="section">
    <header>Buttons</header>

    <div class="content flx" style="gap: 1rem;">
      <button class="btn btn--secondary">Learn More</button>
      <button class="btn btn--primary">Get Started</button>
    </div>
  </div>

  <div class="section">
    <header>Inputs</header>

    <div class="content flx">
      <input type="text" class="input">
      <input type="checkbox" class="input">
    </div>
  </div>

  <div class="section">
    <header>Select</header>

    <div class="content flx">
      <select class="input">
        <option value="volvo">Volvo</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </div>
  </div>
  <footer></footer>
</main>
