<nav>
  <div class="container flx flx--ac">
    <a class="link" href=".">
      <header>
        <div class="logo-name">
          <img src="../assets/images/logo.svg" width="30px" alt="" />
          <span>Relief Nest</span>
        </div>
      </header>
    </a>
    <div class="spacer"></div>
    <div class="profile">
      <button class="btn btn--blank" title="Start a chat">
        <img src="../assets/images/chatting.svg" alt="" />
      </button>
      <div (click)="showAuth()" title="My profile"></div>
    </div>
  </div>
</nav>
<div class="header-spacer"></div>

<main class="flx flx--v">
  <router-outlet></router-outlet>
</main>

<main class="flx flx--v"></main>

<footer>© 2024 ReliefNest. All rights reserved.</footer>

<!-- <router-outlet></router-outlet> -->
