@use "../assets/styles/vars" as vars;

:host {
  flex: 1;

  display: grid;
  grid-template-rows: max-content 1fr;
}

nav,
.header-spacer {
  height: vars.$header-height;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: red;

  .container {
    height: 100%;
  }

  header {
    font-size: 180%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }
}

footer {
  background-color: red;
}

