<h2>Introduction</h2>
<p>
  The Earth's lithosphere is broken up into a bunch of discrete pieces, called
  plates that move around the surface of the planet. There are seven or eight
  major plates (depending on how they are defined) and many minor plates. This
  motion is driven by the flow of the mantle rock beneath the plates and by the
  forces plates exert at their boundaries where they touch each other.
  Earthquakes happen when plates move with respect to each other because of the
  friction and stress at the edges of plates prevents them from slipping
  smoothly at their boundaries. When one plate is forced to dive beneath another
  plate, there is no way to do it except with some component of vertical motion
  creating tsunami.
</p>

<h2>Tsunami: Do's & Don'ts</h2>

<h3>Before a Tsunami</h3>
<ul>
  <li>
    You should find out if your home, school, workplace, or other frequently
    visited locations are in tsunami hazard areas along the sea-shore.
  </li>
  <li>
    Know the height of your street above sea level and the distance of your
    street from the coast or other high-risk waters. (Local administration may
    put sign boards).
  </li>
  <li>
    Plan evacuation routes from your home, school, workplace, or any other place
    you could be where tsunamis present a risk.
  </li>
  <li>
    If your children's school is in an identified inundation zone, find out what
    the school evacuation plan is.
  </li>
  <li>Practice your evacuation routes.</li>
  <li>
    Use a Weather Radio or stay tuned to a local radio or television station to
    keep informed of local watches and warnings.
  </li>
  <li>
    Talk to your insurance agent. Homeowners' policies may not cover flooding
    from a tsunami. Ask the Insurance Agent about the benefits from Multi-Hazard
    Insurance Schemes.
  </li>
  <li>
    Discuss tsunamis with your family. Everyone should know what to do in a
    tsunami situation. Discussing tsunamis ahead of time will help reduce fear
    and save precious time in an emergency. Review flood safety and preparedness
    measures with your family.
  </li>
</ul>

<h3>If you are in an area at risk from tsunamis</h3>
<ul>
  <li>
    You should find out if your home, school, workplace, or other frequently
    visited locations are in tsunami hazard areas.
  </li>
  <li>
    Know the height of your street above sea level and the distance of your
    street from the coast or other high-risk waters.
  </li>
  <li>
    Plan evacuation routes from your home, school, workplace, or any other place
    you could be where tsunamis present a risk.
  </li>
  <li>
    If your children's school is in an identified inundation zone, find out what
    the school evacuation plan is.
  </li>
  <li>Practice your evacuation routes.</li>
  <li>
    Use a Weather Radio or stay tuned to a local radio or television station to
    keep informed of local watches and warnings.
  </li>
  <li>Talk to your insurance agent.</li>
  <li>Discuss tsunamis with your family.</li>
</ul>

<h3>If you are visiting an area at risk from tsunamis</h3>
<ul>
  <li>
    Check with the hotel or campground operators for tsunami evacuation
    information and find out what the warning system is for tsunamis.
  </li>
  <li>
    One of the early warning signals of a tsunami is that the sea water recedes
    several metres, exposing fish on shallow waters or on the beaches.
  </li>
</ul>

<h3>Protect Your Property</h3>
<ul>
  <li>
    You should avoid building or living in buildings within 200 meters of the
    high tide coastline.
  </li>
  <li>Make a list of items to bring inside in the event of a tsunami.</li>
  <li>Elevate coastal homes.</li>
  <li>Take precautions to prevent flooding.</li>
  <li>
    Ensure that any outbuildings, pastures, or corrals are protected in the same
    way as your home.
  </li>
</ul>

<h3>What to Do if You Feel a Strong Coastal Earthquake</h3>
<ul>
  <li>
    Drop, cover, and hold on. You should first protect yourself from the
    earthquake damages.
  </li>
  <li>
    When the shaking stops: Gather members of your household and move quickly to
    higher ground away from the coast. A tsunami may be coming within minutes.
  </li>
</ul>

<h3>If you are on land</h3>
<ul>
  <li>
    Be aware of tsunami facts. This knowledge could save your life! Share this
    knowledge with your relatives and friends.
  </li>
  <li>
    If you are in school and you hear there is a tsunami warning: Follow the
    advice of teachers and other school personnel.
  </li>
  <li>
    If you are at home and hear there is a tsunami warning: Make sure your
    entire family is aware of the warning.
  </li>
</ul>

<h3>If you are on a boat</h3>
<ul>
  <li>
    Since tsunami wave activity is imperceptible in the open ocean, do not
    return to port if you are at sea and a tsunami warning has been issued for
    your area.
  </li>
  <li>
    If there is time to move your boat or ship from port to deep water (after a
    tsunami warning has been issued), you should weigh the following
    considerations:
  </li>
</ul>

<h3>What to do after a Tsunami</h3>
<ul>
  <li>
    You should continue using a Weather Radio or staying tuned to a Coast Guard
    emergency frequency station or a local radio or television station for
    updated emergency information.
  </li>
  <li>
    Check yourself for injuries and get first aid if necessary before helping
    injured or trapped persons.
  </li>
  <li>Help people who require special assistance.</li>
  <li>Avoid disaster areas.</li>
  <li>Use the telephone only for emergency calls.</li>
  <li>Stay out of a building if water remains around it.</li>
  <li>When re-entering buildings or homes, use extreme caution.</li>
  <li>Wear long pants, a long-sleeved shirt, and sturdy shoes.</li>
  <li>Use battery-powered lanterns or flashlights when examining buildings.</li>
  <li>
    Examine walls, floors, doors, staircases, and windows to make sure that the
    building is not in danger of collapsing.
  </li>
  <li>Look for fire hazards.</li>
  <li>Check for gas leaks.</li>
  <li>Look for electrical system damage.</li>
  <li>Check for damage to sewage and water lines.</li>
  <li>
    Watch out for wild animals, especially poisonous snakes that may have come
    into buildings with the water.
  </li>
  <li>Watch for loose plaster, drywall, and ceilings that could fall.</li>
  <li>
    Take pictures of the damage, both of the building and its contents, for
    insurance claims.
  </li>
  <li>Check food supplies.</li>
  <li>Expect aftershocks.</li>
  <li>Watch your animals closely.</li>
</ul>
