<h2>Earthquake</h2>
<p>
  An earthquake is a phenomenon that occurs without warning and involves violent
  shaking of the ground and everything over it. It results from the release of
  accumulated stress of the moving lithospheric or crustal plates. The earth's
  crust is divided into seven major plates, that are about 50 miles thick, which
  move slowly and continuously over the earth's interior and several minor
  plates. Earthquakes are tectonic in origin; that is the moving plates are
  responsible for the occurrence of violent shakes. The occurrence of an
  earthquake in a populated area may cause numerous casualties and injuries as
  well as extensive damage to property.
</p>

<h2>Earthquakes: Do's & Don'ts</h2>

<h3>What to Do Before an Earthquake</h3>
<ul>
  <li>
    Repair deep plaster cracks in ceilings and foundations. Get expert advice if
    there are signs of structural defects.
  </li>
  <li>Anchor overhead lighting fixtures to the ceiling.</li>
  <li>Follow BIS codes relevant to your area for building standards.</li>
  <li>Fasten shelves securely to walls.</li>
  <li>Place large or heavy objects on lower shelves.</li>
  <li>
    Store breakable items such as bottled foods, glass, and china in low, closed
    cabinets with latches.
  </li>
  <li>
    Hang heavy items such as pictures and mirrors away from beds, settees, and
    anywhere that people sit.
  </li>
  <li>Brace overhead light and fan fixtures.</li>
  <li>
    Repair defective electrical wiring and leaky gas connections. These are
    potential fire risks.
  </li>
  <li>
    Secure water heaters, LPG cylinders, etc., by strapping them to the walls or
    bolting to the floor.
  </li>
  <li>
    Store weed killers, pesticides, and flammable products securely in closed
    cabinets with latches and on bottom shelves.
  </li>
  <li>Identify safe places indoors and outdoors.</li>
  <ul>
    <li>Under strong dining table, bed</li>
    <li>Against an inside wall</li>
    <li>
      Away from where glass could shatter around windows, mirrors, pictures, or
      where heavy bookcases or other heavy furniture could fall over
    </li>
    <li>
      In the open, away from buildings, trees, telephone and electrical lines,
      flyovers and bridges
    </li>
  </ul>
  <li>
    Know emergency telephone numbers (such as those of doctors, hospitals, the
    police, etc.)
  </li>
  <li>Educate yourself and family members.</li>
  <li>PSHA Table at Grid Points</li>
  <li>Have a disaster emergency kit ready</li>
  <ul>
    <li>Battery-operated torch with extra batteries</li>
    <li>Battery-operated radio</li>
    <li>First aid kit and manual</li>
    <li>Emergency food (dry items) and water (packed and sealed)</li>
    <li>Candles and matches in a waterproof container</li>
    <li>Knife</li>
    <li>Chlorine tablets or powdered water purifiers</li>
    <li>Can opener</li>
    <li>Essential medicines</li>
    <li>Cash and credit cards</li>
    <li>Thick ropes and cords</li>
    <li>Sturdy shoes</li>
  </ul>
</ul>

<h3>Develop an emergency communication plan</h3>
<ul>
  <li>
    In case family members are separated from one another during an earthquake
    (a real possibility during the day when adults are at work and children are
    at school), develop a plan for reuniting after the disaster.
  </li>
  <li>
    Ask an out-of-state relative or friend to serve as the 'family contact'
    after the disaster; it is often easier to call long distance. Make sure
    everyone in the family knows the name, address, and phone number of the
    contact person.
  </li>
</ul>

<h3>Help your community get ready</h3>
<ul>
  <li>
    Publish a special section in your local newspaper with emergency information
    on earthquakes. Localize the information by printing the phone numbers of
    local emergency services offices and hospitals.
  </li>
  <li>Conduct week-long series on locating hazards in the home.</li>
  <li>
    Work with local emergency services and officials to prepare special reports
    for people with mobility impairments on what to do during an earthquake.
  </li>
  <li>Provide tips on conducting earthquake drills in the home.</li>
  <li>
    Interview representatives of the gas, electric, and water companies about
    shutting off utilities.
  </li>
  <li>
    Work together in your community to apply your knowledge to building codes,
    retrofitting programs, hazard hunts, and neighborhood and family emergency
    plans.
  </li>
</ul>

<h3>What to Do During an Earthquake</h3>
<p>
  Stay as safe as possible during an earthquake. Be aware that some earthquakes
  are actually foreshocks and a larger earthquake might occur. Minimize your
  movements to a few steps that reach a nearby safe place and stay indoors until
  the shaking has stopped and you are sure exiting is safe.
</p>

<h4>If indoors</h4>
<ul>
  <li>
    DROP to the ground; take COVER by getting under a sturdy table or other
    piece of furniture; and HOLD ON until the shaking stops. If there is no
    table or desk near you, cover your face and head with your arms and crouch
    in an inside corner of the building.
  </li>
  <li>
    Protect yourself by staying under the lintel of an inner door, in the corner
    of a room, under a table, or even under a bed.
  </li>
  <li>
    Stay away from glass, windows, outside doors and walls, and anything that
    could fall, (such as lighting fixtures or furniture).
  </li>
  <li>
    Stay in bed if you are there when the earthquake strikes. Hold on and
    protect your head with a pillow, unless you are under a heavy light fixture
    that could fall. In that case, move to the nearest safe place.
  </li>
  <li>
    Use a doorway for shelter only if it is in close proximity to you and if you
    know it is a strongly supported, load-bearing doorway.
  </li>
  <li>
    Stay inside until the shaking stops and it is safe to go outside. Research
    has shown that most injuries occur when people inside buildings attempt to
    move to a different location inside the building or try to leave.
  </li>
  <li>
    Be aware that the electricity may go out or the sprinkler systems or fire
    alarms may turn on.
  </li>
</ul>

<h4>If outdoors</h4>
<ul>
  <li>
    Do not move from where you are. However, move away from buildings, trees,
    streetlights, and utility wires.
  </li>
  <li>
    If you are in open space, stay there until the shaking stops. The greatest
    danger exists directly outside buildings; at exits; and alongside exterior
    walls. Most earthquake-related casualties result from collapsing walls,
    flying glass, and falling objects.
  </li>
</ul>

<h4>If in a moving vehicle</h4>
<ul>
  <li>
    Stop as quickly as safety permits and stay in the vehicle. Avoid stopping
    near or under buildings, trees, overpasses, and utility wires.
  </li>
  <li>
    Proceed cautiously once the earthquake has stopped. Avoid roads, bridges, or
    ramps that might have been damaged by the earthquake.
  </li>
</ul>

<h4>If trapped under debris</h4>
<ul>
  <li>Do not light a match.</li>
  <li>Do not move about or kick up dust.</li>
  <li>Cover your mouth with a handkerchief or clothing.</li>
  <li>
    Tap on a pipe or wall so rescuers can locate you. Use a whistle if one is
    available. Shout only as a last resort. Shouting can cause you to inhale
    dangerous amounts of dust.
  </li>
</ul>
